# The top-most EditorConfig file
root = true

# Set default charset
[*]
charset = utf-8

# Indentation style
[*]
indent_style = tab
indent_style = 4

# Use Unix-style newlines
[*]
end_of_line = lf

# Trim trailing whitespace
trim_trailing_whitespace = true

# Add a newline ending those files
[*.{txt,js,php}]
insert_final_newline = true
